{% comment %}
  Renders a free shipping progress bar based on the cart subtotal.

  Accepts:
  - cart: {Object} the cart object

  Usage:
  {% render 'free-shipping-bar', cart: cart %}
{% endcomment %}
{%- liquid
  assign threshold = settings.cart_free_shipping_threshold
-%}
{%- if settings.cart_free_shipping_bar and threshold > 0 and cart.requires_shipping -%}
  {%- liquid
    assign threshold_cents = threshold | times: 100
    assign remaining_cents = threshold_cents | minus: cart.total_price | at_least: 0
    assign remaining_money = remaining_cents | money
    assign progress = cart.total_price | times: 100.0 | divided_by: threshold_cents | at_most: 100 | round
  -%}
  <div class="free-shipping-bar" role="status">
    {%- if remaining_cents == 0 -%}
      <p class="free-shipping-bar__message free-shipping-bar__message--success">
        <span class="svg-wrapper">{{- 'icon-checkmark.svg' | inline_asset_content -}}</span>
        {{- 'sections.cart.free_shipping.achieved' | t -}}
      </p>
    {%- else -%}
      <p class="free-shipping-bar__message">
        {{- 'sections.cart.free_shipping.remaining_html' | t: amount: remaining_money -}}
      </p>
    {%- endif -%}
    <div class="free-shipping-bar__track">
      <div
        class="free-shipping-bar__fill{% if remaining_cents == 0 %} free-shipping-bar__fill--complete{% endif %}"
        style="width: {{ progress }}%;"
      ></div>
    </div>
  </div>
{%- endif -%}
